<label > Sort By:</label>
                      <!-- Sort Selector -->
<select #selector class="form-select mb-2" aria-label="Default select example" (change)="sortby(selector.value)">
  <option selected value="default">Default</option>
  <option value="price">Price</option>
  <option value="name">Name</option>
</select>

                      <!-- Products List -->
<div class="text-center">
  <div class="row gap-1">
    <div class="card col" style="min-width: 15rem;max-width: 18rem;" *ngFor="let product of products">
      <img src="https://via.placeholder.com/150" class="card-img-top" [alt]="product.name">
      <!-- <img src="{{APIRoot+product.coverImage}}" class="card-img-top" [alt]="product.name"> -->
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.desc}}</p>
        <div class="form-group d-flex align-items-center">
          <label for="quantity">Quantity</label>
          <input type="number" #quantity class="form-control mx-1" name="quantity">
        </div>
        <a class="btn btn-success" (click)="addToCart(product, quantity.value)">Add To Cart</a>
      </div>
    </div>
  </div>
</div>